*{
    margin: 0;

}

body {
    display: grid;
    /* align-items: center;
    justify-content: center;
    color:white;
    
    */
    background: #E8E8E8;
}

.nav{
    display:flex;
    width: 100%;
    background: #2c2828;
    height: 50px;
    z-index: 999999;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.tareasT{
    color: #F5C147;
    margin-left:  50px;
    background: none;
}

.container{
    align-content: center;
    margin:  0% auto;
    background: #3b3a39;
    display: grid;
    grid-template-columns: 100%;
    height:auto;
    width: 800px;
    gap:10px;
    border: solid 1px rgb(4, 43, 61);
    border-radius: 5px;
    color:white
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.tituloT{
    background: none;
    color: #F5C147;
    
    font-size: 50px;
}

.fechas{
    display: grid;
    grid-template-columns: 40% 40% ;
    justify-content: center;
    gap:150px;
    margin: auto auto;  
    font-size: 25px;  
}

.nombreTarea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    color:#fff;
    background:rgba(0, 0, 0, 0.5);
}

.info{
    font-size: 20px;
}

.resto{
    background:rgba(0, 0, 0, 0.5);
    width: 400px;
}

.information{
    border-top: 3px solid rgb(10, 9, 9);
    margin-top: 10px;
    height: 50px; 
}

.tareasP{
    margin-top: 25px ;
}

.lista{
    display: grid;
    height: auto;
    grid-template-columns: 100%;
}

.chekY:hover{
    background: rgb(81, 255, 12);
}

.chekY{
    transition: 0.25s;
    background: rgba(81, 255, 12, 0.335);
}

.chekN:hover{
    background: rgb(255, 12, 12);
}

.chekN{
    transition: 0.25s;
    background: rgba(255, 12, 12, 0.335);
}

.fa-regular{
    font-size: 25px
}
.listar{
    display: flex;
    justify-content: space-between;
}
.containerT{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 25px 20px;
    background:  #3b3a39;
   
}
.tareasT{
    display: flex;
    justify-content: center;
    border: #2c2828 2px solid;
  
   
}
.onFinish{
    background:  #3b3a39;
    display: flex;
    justify-content: center;
}
.offFinish{
    background:  #3b3a39;
    display: flex;
    justify-content: center;
}

     /* Estilos CSS para la ventana de diálogo */
     .dialog-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
    }

    .dialog-box {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }